name: Run Script
on: workflow_dispatch
jobs:
  run-script:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4
      - name: Run bash script
        run: |
          echo "Repository checked out"
          ls -la
